<!DOCTYPE html>
<html lang="en">
<head>
<title>Notaneitor</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2>Editar Profesor</h2>
		<form class="form-horizontal" method="post"
			th:action="${'/teacher/edit/' + teacher.id}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="dni">Dni:</label>
				<div class="col-sm-10">
					<input th:value="${teacher.dni}" type="text"
						class="form-control" name="dni"
						placeholder="Dni del profesor" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Nombre:</label>
				<div class="col-sm-10">
					<input th:value="${teacher.name}" type="text"
						class="form-control" name="name"
						placeholder="Nombre del profesor" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="surname">Apellidos:</label>
				<div class="col-sm-10">
					<input th:value="${teacher.surnames}" type="text" class="form-control"
						name="surname" placeholder="Apellidos del profesor" required="true" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="category">Categoria:</label>
				<div class="col-sm-10">
					<input th:value="${teacher.category}" type="text" class="form-control"
						name="category" placeholder="Categoria del profesor" required="true" />
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Modificar</button>
				</div>
			</div>
		</form>
	</div>



</body>
</html>
