<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav"> </nav>
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{private.message}"></h3>
		<p>
			Usuario Autenticado como : <span
				sec:authentication="principal.username" th:inline="text"> </span>
		</p>
		<p>Notas del usuario</p>
		<div class="table-responsive">
			<nav th:replace="fragments/marksTable"></nav>
		</div>
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>